body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
figcaption {
    font-style: italic;
    text-align: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    
}
iframe {
    display: block;      
    margin: 20px auto;    
    max-width: 100%;      
    border: 1px solid #cdcdcd;
}
.footer p {
    text-align: center;
    font-size: 14px;
    color: #555555;
}